body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background: linear-gradient(to bottom, #e6f2ff, #99ccff);
}

.container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1, h2 {
    color: #333;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.success-message {
    color: green;
    font-size: 0.9em;
    margin-top: 5px;
}

.navbar {
    padding: 0.0rem 0rem;
    background-color: #fff !important;
}

.navbar-brand img {
    margin-right: 10px;
}

.nav-icon {
    font-size: 18px;
    color: #555;
    margin-right: 15px;
    cursor: pointer;
}

.user-initial {
    width: 32px;
    height: 32px;
    background-color: #0078D4;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.dropdown-menu {
    min-width: 200px;
}

.dropdown-item {
    padding: 0.5rem 1rem;
}

.navbar-brand.flex-grow-1 {
    display: flex;
    align-items: center;
}

.compusof-logo {
    height: 1.48cm; 
    width: 2.5cm
}